[
{{#packageList}}
{
    "name": "{{name}}",
    "entityList": [
      {{#entityList}}
      {
        "name": "{{name}}",
        "attributeList": [
            {{#attributeList}}
            {
              "name": "{{name}}",
              "type": "{{type}}"
            },
            {{/attributeList}}
        ]
      },
      {{/entityList}}
     ]
},
{{/packageList}}
]